@import "~bootstrap/scss/bootstrap";
@import url('https://css.gg/css');

.card {
  border-radius: 1rem;
  .card-img-top {
    border-top-left-radius: calc(1rem - 1px);
    border-top-right-radius: calc(1rem - 1px);
  }
}

.input-group-lg > .form-control {
  border-radius: 1.5rem;
}

.input-group-lg > .input-group-append > .btn {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
